@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.infoContainer {
    height: 60vh;
    width: 115vh;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro' , monospace;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 10px 0px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: white;
    color: dodgerblue;
}

.devInfo {
    padding: 0 0 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.devPic img {

    height: 70vh;
    flex-wrap: on;
    width: 600px;
}

.project {
    margin: 10px;
}

.project h1 {
    font-family: 'Fira Sans' ,sans-serif;
}

.project p {
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro' , monospace;
}

.sidebar{
    background-color: orange;
    height: 100vh;
    font-family: 'fira Sans' , sans-serif;
}

.sidebar nav{
    padding: 30px;
}


.sidebar nav li {
    list-style: none;
    padding: 33px 0;
    font-size: 30px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.main {
    width: 80vw;
}

